p {
    display: block;
    background-color: green;
    font-size: 100px;
    text-align: center;
    -webkit-margin-before: 2em;
    -webkit-margin-after: 2em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;

}
p:hover {
    background-color:red;
    font-size: 120px;
}
header {
	margin-top: 20px;
	margin-bottom: 30px;
}

footer {
	background-color: blue;
	color: white; 
}